@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@color-text: white;
@header-height: 100px;


* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Archivo Black', sans-serif;
	cursor: default;

	&:focus {
		outline: none;
	}
}

html, body {
	height: 100%;
}

body {
	margin: 0;
}

.header {
	cursor: pointer;
	padding: 30px 50px;
	margin-bottom: 5vh;
	.adaptive-font-size(55px);
	color: RGBA(0, 0, 0, 0.65);
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;

	& > .title {
		margin: 20px 20px 20px 0;
	}

	& .custom-background-dialog-button {
		opacity: 0.8;
		background-color: rgba(255, 255, 255, 0.3);
		border-radius: 0;
		min-width: unset;
	}
}

main.container {
	min-height: 100vh;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	transition-duration: 0.3s;
}

.background {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.content {
	background-color: black;
	filter: opacity(0.6);
	padding: 20px;
	margin: 20px;
	transition-duration: 0.3s;

	&__title {
		color: @color-text;
		.adaptive-font-size(70px);
	}
}

background-dialog {
	& .mat-form-field {
		width: 450px;

		@media (max-width: 400px) {
			width: 250px;
		}

		@media (min-width: 400px) and (max-width: 500px) {
			width: 280px;
		}
	}
}

.adaptive-font-size(@base-size) {
	font-size: @base-size;

	@media (max-width: 400px) {
		font-size: @base-size * 0.64;
	}

	@media (min-width: 400px) and (max-width: 500px) {
		font-size: @base-size * 0.8;
	}
}

.date-picker {
	background-color: RGBA(255, 255, 255, 0.5);
	font-size: x-large;
	padding: 20px;
	margin: 20px;

	& > .mat-form-field {
		width: 320px;
	}
}
