@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@color-text: white;
@header-height: 100px;


* {
	box-sizing: border-box;
	margin: 0;
	font-family: "Arial Black";
	cursor: default;

	&:focus {
		outline: none;
	}
}

html, body {
	height: 100%;
}

body {
	margin: 0;
}

.header {
	cursor: pointer;
	height: @header-height;
	margin-top: -@header-height;
	padding: 30px 50px;
	position: sticky;
	top: 0;
	.adaptive-font-size(55px);
	color: RGBA(0, 0, 0, 0.65);
}

.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition-duration: 0.3s;
}

.background {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.content {
	background-color: black;
	filter: opacity(0.6);
	padding: 20px;
	margin: 20px;
	transition-duration: 0.3s;

	&__title {
		color: @color-text;
		.adaptive-font-size(70px);
	}
}

.adaptive-font-size(@base-size) {
	font-size: @base-size;

	@media (max-width: 400px) {
		font-size: @base-size * 0.64;
	}

	@media (min-width: 400px) and (max-width: 500px) {
		font-size: @base-size * 0.8;
	}
}

.date-picker {
	background-color: RGBA(255, 255, 255, 0.5);
	font-size: x-large;
	padding: 20px;
	margin: 20px;

	& > .mat-form-field {
		width: 320px;
	}
}
